body {
  margin: 0;
  font-family: "Courier New", monospace;
  background:
    radial-gradient(circle at top, rgba(0,255,156,0.15), transparent 40%),
    linear-gradient(180deg, #020202, #000000);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ff9c;
}
.card {
  background: rgba(0, 0, 0, 0.92);
  width: 420px;
  padding: 30px;
  border-radius: 14px;
  text-align: center;
  border: 1px solid rgba(0,255,156,0.6);
  box-shadow:
    0 0 20px rgba(0,255,156,0.4),
    inset 0 0 10px rgba(0,255,156,0.1);
}
h1 {
  margin-bottom: 6px;
  font-size: 22px;
  text-shadow: 0 0 10px rgba(0,255,156,0.8);
}
.subtitle {
  color: #7dffcb;
  font-size: 13px;
  margin-bottom: 18px;
}
textarea {
  width: 100%;
  height: 120px;
  background: #000;
  color: #00ff9c;
  border: 1px solid rgba(0,255,156,0.6);
  padding: 12px;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}
textarea::placeholder {
  color: rgba(0,255,156,0.5);
}
button {
  margin-top: 16px;
  background: transparent;
  color: #00ff9c;
  border: 1px solid #00ff9c;
  padding: 10px 32px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.25s ease;
}
button:hover {
  background: #00ff9c;
  color: #000;
  box-shadow: 0 0 18px rgba(0,255,156,0.9);
}
#output {
  margin-top: 16px;
  font-size: 15px;
}
#riskMeter {
  margin-top: 6px;
  font-size: 13px;
  color: #7dffcb;
}
